h1{
    font-family: "Montserrat", serif;
    font-weight: 900;
    font-style: italic;
    font-size: 7rem;
}

h1{
    font-family: "Montserrat", serif;
    font-weight: 900;
    font-style: italic;
    font-size: 7rem;
}

h2{
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 2rem;
}