body{
    background-image: url(../img/fallingcat.jpg);
    background-size: 100px;
    background-repeat: no-repeat;
}

body{
    background-image: url(../img/fallingcat.jpg);
    background-size: 100px;
    background-repeat: repeat;
}

body{
    background-image: url(../img/plumas.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: top right;
}

body{
    background-image: url(../img/plumas.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
}

p{
    margin-right: 500px;
    font-size: 20px;
}

body{
    background-image: url(../img/plumas.jpg);
    background-size: 200px;
    background-repeat: repeat;
}

p{
    margin-right: 500px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}